<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940534314944-j3fsmap4gc2r50vm1tgsaft4qa5ok594.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940534314944-j3fsmap4gc2r50vm1tgsaft4qa5ok594</string>
	<key>API_KEY</key>
	<string>AIzaSyBwvGDJcHzO5OSMyqa5CPDw-2I1qfJLK_k</string>
	<key>GCM_SENDER_ID</key>
	<string>940534314944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yavl.CloudStorageApp</string>
	<key>PROJECT_ID</key>
	<string>cloudstorageapp-5bb0c</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudstorageapp-5bb0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940534314944:ios:df41d9c9fe86ebe846fa25</string>
</dict>
</plist>